@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*example of nesting*/
ul{
  li{
    span{
      color: @red-primary;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

ul{
  li{
  display: inline;
  padding-right: 20px;
  .button-style()
    }
  }

h2{
  .or{
    text-transform: lowercase;
    color: @black-secondary;
     }
  }

h2{
  span{
    color:@red-primary;
      }
  }

/*Example of Mix-ins*/

button{
.button-style();
border-radius: 8px;
}

h2{
  .headings();
}





nav{
  background: @yellow-primary;
  width: 2000px;
  padding:10px;
}



.container{
  padding-top: 100px;
}


#bob{
  background: @white-secondary;
  padding: 50px;
}

footer{
  height: 100px;
  background:@black-secondary;
}
