@yellow-primary:#F8DF1F;
@red-primary:#EE252F;
@white-secondary:#F3F3F3;
@black-secondary:#080801;
@black-text:#050500;

@base-font:Roboto;

.button-style{
  background: @yellow-primary;
  font-family: @base-font;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  padding:10px;
  margin-bottom:100px;
}
.headings{
  font-size: 30px;
  color:@black-text;
  text-transform: uppercase;
  font-family: @base-font;
  font-weight: 500;
}

.content{
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  color: @black-text;
  font-family:@base-font;
}
